In [1]:
import pandas as pd

In [8]:
original_masking_df = pd.read_csv('/media/zhaoyang-new/workspace/KarSim/KarSimulator/Metadata/hg38_cnv_masks.bed', sep='\t')
original_masking_df['StartPos'] = original_masking_df['StartPos'].astype(int)
original_masking_df['EndPos'] = original_masking_df['EndPos'].astype(int)

In [14]:
original_masking_df

     Chr  StartPos    EndPos
0      1     14453   1674800
1      1   1899027   3864922
2      1   4085621   4285615
3      1   4920445   5092120
4      1   5330209   5493329
..   ...       ...       ...
382   24  15800000  16122374
383   24  16155235  20893633
384   24  20916193  21144650
385   24  21180878  22737164
386   24  22775171  57227415

[387 rows x 3 columns]

In [15]:
superdup_masking_df = pd.read_csv(
    '/media/zhaoyang-new/workspace/KarSim/KarSimulator/Metadata/genomicSuperDups.bed', 
    sep='\t', usecols=[0,1,2], names=['Chr', 'StartPos', 'EndPos'])

In [16]:
superdup_masking_df

       Chr  StartPos    EndPos
0        1     10000     87112
1        1     10000     20818
2        1     10000     19844
3        1     10169     37148
4        1     10464     40733
...    ...       ...       ...
64211   24  56862674  56866758
64212   24  56862674  56866758
64213   24  56866349  56867465
64214   24  56878710  56879827
64215   24  56881292  56887120

[64216 rows x 3 columns]

In [17]:
## Check if SuperDups have intervals not included in the original masking file
mask = superdup_masking_df.apply(
    lambda row: original_masking_df[
        (original_masking_df['Chr'] == row['Chr']) &
        (original_masking_df['StartPos'] <= row['StartPos']) &
        (original_masking_df['EndPos'] >= row['EndPos'])
    ].empty,
    axis=1
)

# Filter superdup_masking_df to get intervals that are not completely inside original_masking_df
intervals_not_in_original = superdup_masking_df[mask]

# Display intervals that are not completely inside original_masking_df
print(intervals_not_in_original)

       Chr  StartPos    EndPos
0        1     10000     87112
1        1     10000     20818
2        1     10000     19844
3        1     10169     37148
4        1     10464     40733
...    ...       ...       ...
63685   24  22740618  22754276
63686   24  22746680  23144660
63687   24  22746680  23142275
63688   24  22764774  22767022
63689   24  22769665  22771270

[35916 rows x 3 columns]

In [27]:
centromere_df = pd.read_csv(
    '/media/zhaoyang-new/workspace/KarSim/KarSimulator/Metadata/Full_Genome_Indices.txt', 
    sep='\t', usecols=[0,3,4], names=['Chr', 'StartPos', 'EndPos'])
centromere_df['Chr'] = centromere_df['Chr'].str.replace('Chr', '')
centromere_df['Chr'] = centromere_df['Chr'].str.replace('X', '23')
centromere_df['Chr'] = centromere_df['Chr'].str.replace('Y', '24')

In [48]:
t1_df = pd.read_csv(
    '/media/zhaoyang-new/workspace/KarSim/KarSimulator/Metadata/Full_Genome_Indices.txt', 
    sep='\t', usecols=[0,2], names=['Chr', 'EndPos'])
t1_df['StartPos'] = 0
t1_df['Chr'] = t1_df['Chr'].str.replace('Chr', '')
t1_df['Chr'] = t1_df['Chr'].str.replace('X', '23')
t1_df['Chr'] = t1_df['Chr'].str.replace('Y', '24')
t1_df = t1_df[['Chr', 'StartPos', 'EndPos']]
t1_df['EndPos'] = t1_df['EndPos'] - 1
t1_df

   Chr  StartPos    EndPos
0    1         0      9999
1    2         0      9999
2    3         0      9999
3    4         0      9999
4    5         0      9999
5    6         0     59999
6    7         0      9999
7    8         0     59999
8    9         0      9999
9   10         0      9999
10  11         0     59999
11  12         0      9999
12  13         0  15999999
13  14         0  15999999
14  15         0  16999999
15  16         0      9999
16  17         0     59999
17  18         0      9999
18  19         0     59999
19  20         0     59999
20  21         0   5009999
21  22         0  10509999
22  23         0      9999
23  24         0      9999

In [49]:
t2_df = pd.read_csv(
    '/media/zhaoyang-new/workspace/KarSim/KarSimulator/Metadata/Full_Genome_Indices.txt', 
    sep='\t', usecols=[0,1,5], names=['Chr', 'EndPos', 'StartPos'])
t2_df['Chr'] = t2_df['Chr'].str.replace('Chr', '')
t2_df['Chr'] = t2_df['Chr'].str.replace('X', '23')
t2_df['Chr'] = t2_df['Chr'].str.replace('Y', '24')
t2_df = t2_df[['Chr', 'StartPos', 'EndPos']]
t2_df['StartPos'] = t2_df['StartPos'] + 1
t2_df['EndPos'] = t2_df['EndPos'] - 1
t2_df

   Chr   StartPos     EndPos
0    1  248946422  248956421
1    2  242183529  242193528
2    3  198235559  198295558
3    4  190204555  190214554
4    5  181478259  181538258
5    6  170745979  170805978
6    7  159335973  159345972
7    8  145078636  145138635
8    9  138334717  138394716
9   10  133787422  133797421
10  11  135076622  135086621
11  12  133265309  133275308
12  13  114354328  114364327
13  14  106883718  107043717
14  15  101981189  101991188
15  16   90228345   90338344
16  17   83247441   83257440
17  18   80263285   80373284
18  19   58607616   58617615
19  20   64334167   64444166
20  21   46699983   46709982
21  22   50808468   50818467
22  23  156030895  156040894
23  24   57217415   57227414

In [54]:
merged_df = pd.concat([centromere_df, t1_df, t2_df, original_masking_df, superdup_masking_df], ignore_index=True)
merged_df['Chr'] = merged_df['Chr'].astype(str)
merged_df.sort_values(by=['Chr', 'StartPos', 'EndPos'], inplace=True)

In [55]:
merged_df

      Chr   StartPos     EndPos
24      1          0       9999
461     1      10000      19844
460     1      10000      20818
459     1      10000      87112
462     1      10169      37148
...    ..        ...        ...
61191   9  138292903  138334717
61192   9  138294032  138304683
61193   9  138304681  138334715
61194   9  138329227  138334717
56      9  138334717  138394716

[64675 rows x 3 columns]

In [56]:
merged_df.to_csv('../Metadata/merged_masking.bed', index=False, sep='\t')